on:
  pull_request:
    branches:
      - master

jobs:
  generate_test_files:
    runs-on: ubuntu-latest
    name: build the test files
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Build the Docker image
      run: docker run -v $(pwd):/work/ moia/prototool-docker:latest prototool lint --debug api


